
ul {
   margin: 0;
   padding: 0;
}

html {
   box-sizing: border-box;
}

*,
* ::before,
*::after {
   box-sizing: inherit;
}

/* говорим тегу img будешь блочным тегом. 
Указываем максимальную ширину    max-width: 100%; - если экран будет меньше самой картинки то картинка будет сжиматься. */
img {
   display: block;
   max-width: 100%;
}

a {
   text-decoration: none;
   color: var(--unnamed);
   display: block;
}

button {
   border: none;
}

/* убираем все падинги и марджины которые установлены по умолчанию */
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}

/* Sans-serif делает шрифт без засечек, указываем по умолчанию настройки: обнуление отступов, шрифт и его начертание */
body {
   margin: 0;
   font-family: 'Akrobat', sans-serif;
   font-family: 'Bert-Sans', sans-serif;
}



/********** меню таб ***********/

.container {
   max-width: 1180px;
   margin: 0 auto;

}

.tabs__menu {
   padding-top: 40px;
   margin-bottom: 40px;
}


.tabs__menu-nav {
   display: flex;
   background-color: #fff;
   list-style-type: none;
   text-align: center;
}

.tabs__menu-link {
   text-decoration: none;
   text-align: center;
   color: #1C5C94;
   letter-spacing: 0.02em;
   font-family: 'Bert-Sans', sans-serif;
   font-size: 20px;
   font-weight: 500;
   border: 2px solid  #1C5C94;
   padding: 8px 22px;
   border-radius: 30px;
   text-align: center;
   min-height: 36px;
   margin-right: 20px;
}

.tabs__menu-nav li:active {
   background-color: #1C5C94;
}

.tabs__menu-nav a:active {
   color:  #fff;
}


/******************* конец меню таб******** **/
